<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OK django</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <h1>Authors</h1>
    <div class="container-fluid">
      <div class="row">
          <div class="col-xs-8">
            <ul role="group">
            {% for author in authors %}
              <div class="inline">
              <p>{{some_th}}</p>
              <li class="list-group-item">Author:{{ author }}
              <p>Books:</p>
                {% for book in books %}
                  {% if book.author.first_name == author.first_name %}
                    <p>{{ book }}</p>
                  {% endif %}
                {% empty %}
                  <li>No books</li>
                {% endfor %}
              </li>
              </div>
            {% empty %}
              <li>No authors</li>
            {% endfor %}
            </ul>
          </div>
              
      </div>
    </div>
            <div class="col-xs-8">
            <ul class="list-group">
            {% for book in books %}
              <li class="list-group-item">{{ book }}</li>
            {% empty %}
              <li>No books</li>
            {% endfor %}
            </ul>
          </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>